<footer class="app-footer">
  <div class="container">
    <div class="flex">
      <div>
        <div>
          <span>2022 ©</span>
          <a href="https://www.linkedin.com/in/alejandro-tejada-rodr%C3%ADguez-81056819b/" target="_blank"
            class="author">
            Alejandro Tejada Rodríguez
          </a>
        </div>
        <div class="image-container">
          <img src="assets/img/logo.png" alt="logo">
        </div>
      </div>
      <div>
        <div> Desarrollo de aplicaciones web </div>
        <div>IES Severo Ochoa Elche</div>
      </div>
    </div>
  </div>
</footer>
