:root {
  --color-primary: #588157;
  --color-primary2: #3a5a40;
  --color-secondary: #dad7cd;
  --color-secondary2: #ebebee;
  --color-secondary3: #FFF7FA;
  --color-base: rgb(245, 245, 248);
  --color-darkgreen: #21352a;
  --color-dark: rgb(26, 28, 29);
}
